## Load Libraries

In [1]:
import numpy as np
import pandas as pd
import json
from pathlib import Path
import re

## Load instance data

In [2]:
instanceDF = pd.read_csv('./dataframes/instanceData.csv')

In [3]:
instanceDF.head()

                                      Host          Instance_id           ami
0        assignmentadm001.da.aws.cccis.com  i-04b7e0ef13ecdba59  ami-722fe11f
1       assignmentodrp001.da.aws.cccis.com  i-0b947ccb2dce8a044  ami-722fe11f
2       assignmentodrp002.da.aws.cccis.com  i-036d5c00f77ba5fa0  ami-722fe11f
3  assignmentappraiser001.da.aws.cccis.com  i-0ac3524dde42e2a12  ami-722fe11f
4  assignmentappraiser002.da.aws.cccis.com  i-0abd88a93f2a55b1e  ami-722fe11f

In [4]:
len(instanceDF)

926

In [5]:
len(instanceDF.Host.unique())

926

In [6]:
len(instanceDF.Instance_id.unique())

926

In [7]:
len(instanceDF.ami.unique())

16

In [83]:
ami_needed = instanceDF.ami.unique()

## Load ami-OS data

In [8]:
file = r'./all Ec2.xlsx'
osDF = pd.read_excel(file)

In [9]:
osDF.head()

,Instance_id,Instance_type,OS,AMI,State,Total Payment,Monthly payment
0,i-992c111a,c3.2xlarge,Linux,ami-6d1c2007,stopped,NaN,NaN
1,i-d290a351,c3.2xlarge,linux,ami-6d1c2007,stoped,NaN,NaN
2,i-93784a10,c3.2xlarge,linux,ami-6d1c2007,stopped,NaN,NaN
3,i-6f7352ec,c3.2xlarge,Linux,ami-6d1c2007,stopped,NaN,NaN
4,i-047986049f731f6c6,c3.2xlarge,Linux,ami-40135557,stopped,NaN,NaN

In [10]:
len(osDF.AMI.unique())

25

In [17]:
os_ami = osDF[['OS', 'AMI']]
os_ami.columns = ['OS', 'ami']

In [90]:
os_ami.head()

      OS           ami
0  Linux  ami-6d1c2007
1  linux  ami-6d1c2007
2  linux  ami-6d1c2007
3  Linux  ami-6d1c2007
4  Linux  ami-40135557

In [82]:
len(os_ami)

144

## Merge os-ami with instanceData

In [84]:
amis_needed = pd.DataFrame(data=[ami_needed])
amis_needed = amis_needed.transpose()
amis_needed.columns = ['ami']

In [92]:
merged_all = pd.merge(amis_needed, os_ami, on=['ami'], how='left')
merged_all = merged_all.drop_duplicates()

In [93]:
merged_all

             ami             OS
0   ami-722fe11f            NaN
1   ami-12ebbd7a  red hat linux
2   ami-12ebbd7a          linux
3   ami-e890db82            NaN
4   ami-915aa4fc          Linux
6   ami-f9fd8493   oracle linux
7   ami-196c6973            NaN
8   ami-73cbcf19            NaN
9   ami-12d7f469            NaN
10  ami-68d6d202            NaN
11  ami-a3d7d3c9            NaN
12  ami-9c1b3ef6            NaN
13  ami-c4f0b2ae            NaN
14  ami-acd6d2c6            NaN
15  ami-48d6d222            NaN
16  ami-19d7d373            NaN
17  ami-1fd7d375            NaN

In [94]:
merged_all.to_csv('./ami_needed.csv', index=False)